html, body {
	background-image: url("../images/sky_bkgrnd.jpg");
	background-size: 100%;
	height: 100%;
}

/* ***********overall page styles******** */

.fullheight {
	min-height: 100%;
}

#slogan {
	color: #0020C2;
	font-style: italic;
	padding-left: 10%;
	padding-right: 10%;
}

.screenreader {
	font-size: 0;
	height: 0px;	
}

/* ********page specific element styles********** */

.tableAboveBar {
	padding-top: 0.5em;
	padding-bottom: 1em;
}
.searchBox {
	background-image: url("../images/search.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right 5px center;
}

.charCounter {
	color: #555555;
	font-size: small;
}

.msgBar {
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}

/* ******* Form validation style ***********/
input.ng-invalid.ng-touched,
 textarea.ng-invalid.ng-touched,
 select.ng-invalid.ng-touched {
	box-shadow: 0px 0px 5px #F44336;
	-webkit-box-shadow: 0px 0px 5px #F4436; 
}

/* ******* button components styles *********/

.editBtn, .deleteBtn, .newBtn, .saveBtn, .cancelBtn, .resetBtn, .confirmBtn {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right 5px center;
	padding-right: 50px;
}

.editBtn {
	background-image: url("../images/edit.svg");
}

.deleteBtn {
	background-image: url("../images/delete.svg");
}

.newBtn {
	background-image: url("../images/new.svg");
}

.saveBtn {
	background-image: url("../images/save.svg");
}

.cancelBtn {
	background-image: url("../images/cancel.svg");
}

.resetBtn {
	background-image: url("../images/reset.svg");
}

.confirmBtn {
	background-image: url("../images/confirm.svg");
}

/********** Table Component Style ***************/

.sortableHeader {
	white-space: nowrap;
}

.pageControlBar {
	padding-top: 8px;
	text-align: center;
}

td.aln_right {
	text-align: right;
}
td.aln_center {
	text-align: center;
}

/* TODO: Figure out how to right-align the sort icon if anf only if there is room to do so. */

/********* Modal Dialog Styles *************/

.customModal {
	width: 50%;
	min-height: 30%;
}