<div data-ng-controller="serviceCtrl" data-ng-init="load()">
	
	<div class="w3-container">
	
	<div class="message-bar" data-message-object="message"></div>
	
	<h3><span data-ng-show="isEdit">Edit</span>
		<span data-ng-hide="isEdit">Create New</span>
		Service
	</h3>
	
	<form name="form.serviceForm">
		<div>
			<label for="catDropdown">Category:</label>
			<span class="w3-text-red">*</span>
			<br />
			<select data-ng-model="serviceItem.category.categoryId" required="required">
				<option data-ng-repeat="x in categoryOptions"
					data-ng-selected="x.categoryId == serviceItem.category.categoryId"
					value="{{x.categoryId}}">{{x.categoryName}}</option>
			</select>
		</div>
		<br />
		
		<div>
			<label for="shortDecInput">Short Description:</label>
			<span class="w3-text-red">*</span>
			<br />
			<input id="shortdescInput" type="text" data-ng-model="serviceItem.shortDescription"
				required="required" maxlength="100" size="50" />
			<span class="charCounter">{{serviceItem.shortDescription.length || '0'}} of 100 chars</span>
		</div>
		<br />
		
		<div>
			<label for="longDescInput">Long Description:</label>
			<span class="w3-text-red">*</span>
			<br />
			<textarea id="longDescInput" data-ng-model="serviceItem.longDescription"
				rows="4" cols="50" required="required" data-ng-required="true"></textarea>
		</div>
		<br />
		
		<div>
			<label for="durationInput">Duration (in hours to nearest tenth):</label>
			<span class="w3-text-red">*</span>
			<br />
			<input id="durationInput" type="number" data-ng-model="serviceItem.duration"
				required="required" step="0.1" size="5" min="0.1" />
		</div>
	</form>
	<br /><br />
	
	<div class="button-bar" data-button-status="buttonStatus"
		data-savefn="save()" data-resetfn="reset()"
		data-addanotherfn="reset()" data-backfn="back()"></div>
	
	</div>
	
</div>