<div class="msgBar w3-panel {{messageObject.colorClass}}" 
		data-ng-show="messageObject.available">
	<span>{{messageObject.text}}</span>
</div>
<!-- note that the CSS class cannot be same as directive name- it will cause a 
crash with no error messages -->