<div data-ng-controller="homeCtrl">
	
	<h3>Plytha Falls' Leading Marine Service Dealer</h3>
	
	<p>CobaltDuck Marine Service has been providing exceptional repair and maintenance services to boaters in the 
	Plytha Falls region since the middle of yesterday afternoon.  Let us plant our tongues firmly in our cheeks and 
	check out these wonderful before and after photos:</p>
	<br />
	
	<div class="w3-row">
	
		<div class="w3-col" style="width:44%;"><div class="w3-card w3-right">
			<img src="resources/images/scrap_before.jpg" alt="pontoon boat before (pile of scrap metal)" 
				height="200" />
			<div class="w3-container w3-indigo w3-center">Before</div>
		</div></div>
				
		<div class="w3-col w3-display-container" style="width:12%; height:200px;">
			<div class="w3-display-middle"> &gt;&gt;&gt; </div>
		</div>
				
		<div class="w3-col" style="width:44%"><div class="w3-card w3-left">
			<img src="resources/images/pontoon_after.jpg" alt="pontoon boat after (actual boat photo)" 
				height="200" />
			<div class="w3-container w3-indigo w3-center">After</div>
		</div></div>
	
	</div>
	<br />
	
	<div class="w3-row">
		
		<div class="w3-col" style="width:44%;"><div class="w3-card w3-right">
			<img src="resources/images/puzzle_before.jpg" alt="outboard engine before (jigsaw puzzle pieces)" 
				height="200" />
			<div class="w3-container w3-indigo w3-center">Before</div>
		</div></div>
				
		<div class="w3-col w3-display-container" style="width:12%; height:200px;">
			<div class="w3-display-middle"> &gt;&gt;&gt; </div>
		</div>
				
		<div class="w3-col" style="width:44%"><div class="w3-card w3-left">
			<img src="resources/images/outboard_after.jpg" alt="outboard engine after (actual boat photo)" 
				height="200" />
			<div class="w3-container w3-indigo w3-center">After</div>
		</div></div>

	</div>
	
	<p> We now offer this simple and convenient scheduling app.  Set up service appointments from the convenience of the internet!
	Choose the date, time, and service personnel that is the best fit for you.  Create an account to be able to add, and modify
	your appointments, and recieve updates via email (optional).  Use the menu links to get started!.</p>
	
	<div class="w3-center">
		<p>Centrally located along Falls Highway near the intersection with Glyptodont Avenue.  Come see us!</p>
		<img src="resources/images/map_sim.png" alt="fake map" title="fake map (yes, fake!)" height="400" />
	</div>
	<br />
</div>