<div class="w3-center"><div class="w3-bar">

	<button class="w3-button w3-round w3-green saveBtn" 
		data-ng-show="buttonStatus.save" data-ng-click="savefn()">Save</button>
	<button class="w3-button w3-round w3-blue resetBtn" 
		data-ng-show="buttonStatus.reset" data-ng-click="resetfn()">Reset</button>
	<button class="w3-button w3-round w3-blue newBtn" 
		data-ng-show="buttonStatus.addAnother" data-ng-click="addanotherfn()">Add Another</button>
	<button class="w3-button w3-round w3-gray backBtn" 
		data-ng-click="backfn()">Back</button>

</div></div>