<div data-ng-controller="technicianCtrl" data-ng-init="load()">
	
	<div class="w3-container">
	
	<div class="message-bar" data-message-object="message"></div>
	
	<h3><span data-ng-show="isEdit">Update</span>
		<span data-ng-hide="isEdit">On-board New</span>
		Technician
	</h3>
	
	<form name="form.technicianForm">
		<div>
			<label for="firstnameInput">First Name:</label>
			<span class="w3-text-red">*</span>
			<br />
			<input id="firstnameInput" type="text" data-ng-model="technicianItem.firstname"
				required="required" maxlength="32" size="32" />
			<span class="charCounter">{{technicianItem.firstname.length || '0'}} of 32 chars</span>
		</div>
		<br />
		
		<div>
			<label for="lastnameInput">Last Name:</label>
			<span class="w3-text-red">*</span>
			<br />
			<input id="lastnameInput" type="text" data-ng-model="technicianItem.lastname"
				required="required" maxlength="32" size="32" />
			<span class="charCounter">{{technicianItem.lastname.length || '0'}} of 32 chars</span>
		</div>
		<br />
		
		<div>
			<label for="breakInput">Break Hour:</label>
			<span class="w3-text-red">*</span>
			<br />
			<input id="breakInput" type="time" data-ng-model="technicianItem.breakhour"
				required="required" min="10:00" max="14:30" step="1800" value="{{technicianItem.breakhour}}" />
		</div>
		<br />
		
		<div data-ng-show="!isEdit">
			<p>The new technician will also need a user login profile.  The username cannot be edited later.  Remind this user to change the password
			after first login.</p>
		
			<label for="usernameInput">username:</label>
			<span class="w3-text-red">*</span>
			<br />
			<input id="usernameInput" type="text" data-ng-model="technicianItem.user.username"
				required="required" maxlength="32" size="32" />
			<span class="charCounter">{{technicianItem.user.username.length || '0'}} of 32 chars</span>
		</div>
		
		<div data-ng-show="!isEdit">
			<label for="passwordInput">initial password:</label>
			<span class="w3-text-red">*</span>
			<br />
			<input id="passwordInput" type="password" data-ng-model="technicianItem.user.password"
				required="required" maxlength="64" size="32" />
			<span class="charCounter">{{technicianItem.user.password.length || '0'}} of 64 chars</span>
		</div>

	</form>
	<br /><br />
	
	<div class="button-bar" data-button-status="buttonStatus"
		data-savefn="save()" data-resetfn="reset()"
		data-addanotherfn="reset()" data-backfn="back()"></div>
	
	</div>
	
</div>