<div data-ng-controller="technicianCtrl" data-ng-init="initList()">
	
	<div class="w3-container">
	
		<div class="message-bar" data-message-object="message"></div>
	
		<h3>Maintain Technicians (Personnel)</h3>

		<div class="sort-page-table"
			data-rows="technicianList" data-columns="tableColumns"
			data-editable="true" data-editfn="editItem(item)"
			data-newable="true" data-newfn="newItem()"
			data-deletable="true" data-deletefn="deleteConfirm(item)"> 
	 	</div>
	 	<br />
	
	</div>
	
	<div data-ng-show="showDeleteConfirm" class="modal-dialog"
		data-dialog-text="'Are you sure you want to delete (terminate) this Technician?'"
		data-confirmfn="deleteItem()" data-cancelfn="cancelDelete()">
	</div> 
			
</div>