<div class="w3-bar w3-display-container tableAboveBar">
	<label for="search">Search:</label>
	<input id="search" class="searchBox" type="text" data-ng-model="searchItem" />
	
	<div class="w3-display-right" data-ng-show="newable">
		<button class="w3-button w3-round w3-blue newBtn" 
				data-ng-click="newfn()">New</button>
	</div>
</div>

<div style="overflow:auto">
<table class="w3-table-all">
<thead>
	<tr>
		<th data-ng-repeat="item in columns" 
			data-ng-click="sort(item.attribute)">
			<div class="sortableHeader">
				<span>{{item.headerText}}</span>
				<!--  div class="sortImage"> -->
				<img data-ng-show="sortKey != item.attribute" src="resources/images/unsorted.svg" alt="click to sort" />
				<img data-ng-show="sortKey == item.attribute && reverse" src="resources/images/sortup.svg" alt="click to sort" />
				<img data-ng-show="sortKey == item.attribute && !reverse" src="resources/images/sortdown.svg" alt="click to sort" />
				<!-- /div> -->
				<!-- TODO: Figure out how to right-align the sort icon if and only if there is room to do so. -->
			</div>
		</th>
		<th data-ng-show="editable">Edit</th>
		<th data-ng-show="deletable">Delete</th>
	</tr>
</thead>
	
<tbody>
	<tr data-ng-repeat="element in rows | orderBy:sortKey:reverse | filter: searchItem | startFrom:currentPage*pageSize | limitTo:pageSize">
		<td data-ng-repeat="item in columns" data-ng-class="item.align">
			<div data-ng-if="item.tooltip != null" class="w3-tooltip" style="width:100%;">
				{{element[item.attribute]}}
				<span style="position:absolute;left:0;bottom:0;"
					class="w3-text w3-tag w3-round w3-small">{{element[item.tooltip]}}</span>
			</div>
			<span data-ng-if="item.tooltip == null">
				{{element[item.attribute]}}
			</span>
		</td>

		<td data-ng-show="editable">
			<button class="w3-button w3-round w3-green editBtn"
				data-ng-click="editfn({item:element})">Edit</button>
		 </td>
		<td data-ng-show="deletable">
			<!-- Disable button for non-deletable items, and also add a tooltipre -->
			<span class="w3-tooltip">
				<span style="position:absolute;left:0;bottom:0;" 
					class="w3-text w3-tag w3-yellow w3-round w3-small"
					data-ng-show="{{!element.deletable}}">
					This item cannot be deleted because it has associated items.
				</span>
				<button class="w3-button w3-round w3-red deleteBtn"
					data-ng-disabled="{{!element.deletable}}"				
					data-ng-click="deletefn({item:element})">Delete</button>
			</span>
		</td>
	</tr>
</tbody>
	
</table>
</div>

<!--  pagination controls -->
<div class="w3-bar w3-display-container pageControlBar">
	<button class="w3-button w3-gray w3-circle" title="first page" data-ng-click="currentPage = 0">&laquo;</button>
	<button class="w3-button w3-gray w3-circle" title="previous page" 
		data-ng-click="currentPage = (currentPage == 0) ? 0 : currentPage - 1">&lt;</button>
	Viewing page {{currentPage + 1}} of {{numberOfPages()}}
	<button class="w3-button w3-gray w3-circle" title="next page" 
		data-ng-click="currentPage = (currentPage == numberOfPages()-1) ? numberOfPages()-1 : currentPage + 1">&gt;</button>
	<button class="w3-button w3-gray w3-circle" title="last page" data-ng-click="currentPage = numberOfPages()-1">&raquo;</button>
</div>
<div class="w3-display-container pageControlBar">
	<label for="pageItemDropdown">Items per page:</label>
	<select id="pageItemDropDown" data-ng-model="pageSize" data-ng-init="pageSize='10'">
	<!--  The ng-init above allows the proper item to be pre-selected.  Adding selected or ng-selected does not work -->
		<option value="5">5</option>
		<option value="10">10</option>
		<option value="20">20</option>
		<option value="{{rows.length}}">All</option>
	</select>
</div>