<div class="w3-modal" style="display:block;">
	<div class="w3-modal-content w3-round-large customModal">
    
    	<div class="w3-container w3-round-large w3-yellow">
    		<p><img src="resources/images/alert.svg" height="100%" aria-hidden="true" />
    		<b>Please confirm this action.</b></p>
    	</div>
    	
    	<div class="w3-container">
      
      		<p>{{dialogText}}</p>
    		
    		<div class="w3-bar">
    			<button class="w3-button w3-round w3-blue confirmBtn"
    				data-ng-click="confirmfn()">Yes, Confirm</button>
    			<button class="w3-button w3-round w3-gray cancelBtn" 
    				data-ng-click="cancelfn()">No, Cancel</button>
    		</div>
    		
    	</div>
    	
  	</div>
</div>