<div data-ng-controller="categoryCtrl" data-ng-init="load()">
	
	<div class="w3-container">
	
	<div class="message-bar" data-message-object="message"></div>
	
	<h3><span data-ng-show="isEdit">Edit</span>
		<span data-ng-hide="isEdit">Create New</span>
		Service Category
	</h3>
	
	<form name="form.categoryForm">
		<div>
			<label for="catNameInput">Category Name:</label>
			<span class="w3-text-red">*</span>
			<br />
			<input id="catNameInput" type="text" data-ng-model="categoryItem.categoryName"
				required="required" maxlength="32" size="32" />
			<span class="charCounter">{{categoryItem.categoryName.length || '0'}} of 32 chars</span>
		</div>
	</form>
	<br /><br />
	
	<div class="button-bar" data-button-status="buttonStatus"
		data-savefn="save()" data-resetfn="reset()"
		data-addanotherfn="reset()" data-backfn="back()"></div>
	
	</div>
	
</div>